.search-input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
    width: 30%;
}
.search-icon {
    position: absolute;
    color: #ccc;
}
.search {
    padding: 18px 0 20px 10px;
}