/* Float four columns side by side */
.column {
    float: left;
    width: 48%;
    padding: 0 10px;
}

.row{
  margin-top: 20px;
}

  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}